@{
    ViewData["Title"] = "Create";
}

<h1>Create Student</h1>

<form method="post">
    <input type="text" name="Name" placeholder="Enter your name" /><br /><br />
    <input type="text" name="Cgpa" placeholder="Enter ur cg"/><br /><br />
    <button type="submit">Add</button>
</form>

